@import "./variables";


@mixin mobile {
    @media (max-width: #{$small-devices}){
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$medium-devices}){
        @content;
    }
}
@mixin btn-theme($bg-color: #000, $color: #fff) {
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    background-color: $bg-color;
    color: $color;
    &:hover {
        background-color: #5c5b5b;
        transition: all 0.4s;
      }
}
